# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

.env
.*
/.*
/src/environments
/src/assets/mock
/src/assets/videos
server/main.ts
server/package.json
server/tsconfig.json
server/config/mongo.ts
server/controllers/auth.ts
server/controllers/item.ts
server/interfaces/animeF.interfance.ts
server/interfaces/auth.interface.ts
server/interfaces/req-ext.interface.ts
server/interfaces/storage.interface.ts
server/interfaces/user.interface.ts
server/middleware/log.ts
server/middleware/session.ts
server/models/item.model.ts
server/models/user.model.ts
server/routes/auth.ts
server/routes/index.ts
server/routes/item.ts
server/services/auth.ts
server/services/item.ts
server/utils/bcrypt.handle.ts
server/utils/error.handle.ts
server/utils/jwt.handle.ts
.vscode/extensions.json
.vscode/launch.json
.vscode/tasks.json
.vscode/extensions.json
.vscode/launch.json
.vscode/tasks.json
