@import "../../../../styles/abstract/mixins";

.card__wrapper {
  position: relative;
  aspect-ratio: 26 / 37;
  border-radius: $border-radius-sm;
  .card__shadow {
    @include absolute(1px, 0);
    padding: 2px;
    img {
      width: 100%;
      border-radius: $border-radius-md;
    }
  }

  .card {
    @include absolute(0, 0);
    border-radius: $border-radius-sm;
    cursor: pointer;
    overflow: hidden;
    .card__img {
      position: relative;
      width: 260px;
      height: 370px;
      fa-icon {
        @include absolute(50%, 50%);
        font-size: 6rem;
        color: white;
        opacity: 0;
        transform: translate(-50%, -50%);
        backdrop-filter: drop-shadow(0 0 16px rgba(255, 255, 255, 0.25));
        -webkit-filter: drop-shadow(0 0 16px rgba(255, 255, 255, 0.25));
      }
      img {
        width: 100%;
        border-radius: $border-radius-sm;
      }
      .card__overlay {
        @include absolute(0, 0);
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 10%, transparent 40%);
      }
    }
    .card__content {
      @include absolute(auto, 0, auto, 0);
      padding: $padding-md;
      width: 100%;
      h3 {
        @include font($font-size-base $font-weight-600);
        text-transform: capitalize;
        opacity: 1;
      }
      p {
        @include absolute(auto, 0, auto, 0);
        @include font($font-size-sm $font-weight-400);
        transform: translateY(100%);
        text-wrap: balance;
        padding: $padding-md;
        opacity: 0;
      }
    }
  }

  .card .card__content h3,
  .card .card__content p,
  .play__icon,
  .card__img .card__overlay,
  .card__shadow img {
    transition:
      all 0.5s ease,
      opacity 0.5s ease;
  }
}

.hover__card {
  .card__shadow {
    img {
      filter: blur(1.5rem);
    }
  }
  .play__icon {
    opacity: 1 !important;
  }
  .card__img .card__overlay {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.5) 40%,
      rgba(0, 0, 0, 0.25) 60%,
      rgba(0, 0, 0, 0) 100%
    ) !important;
  }
  .card__content {
    h3 {
      transform: translateY(150%) !important;
      opacity: 0 !important;
    }
    p {
      transform: translateY(0) !important;
      opacity: 1 !important;
    }
  }
}
