@import '../../../../styles/abstract/_mixins.scss';

.register {
  @include flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover
  }


  .form__wrapper {
    @include absolute(50%, 50%);
    @include flex(column, nowrap, flex-start);
    gap: 3rem;
    transform: translate(-50%, calc(-50% + 30px));
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2rem);
    width: 100%;
    max-width: 550px;
    height: 80vh;
    padding: 4rem 0;
    border: 2px solid white;
    border-radius: 1rem;

    h1 {
      @include font($font-size-lg $font-weight-400);
    }
  }
  form {
    width: 100%;
    .container {
      .form__group {
        @include flex(column);
        gap: 1rem;
        padding-inline: 1rem;
        padding-bottom: 2rem;
        input {
          @include font($font-size-base $font-weight-400);
          @include flex;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          height: 50px;
          border: $border-main;
          border-radius: 0.5rem;
          padding: 0 1rem;
          &::placeholder {
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }
  }
}

hr {
  width: 100%
}

.btn__submit {
  @include flex;
  @include font($font-size-base $font-weight-400);
  width: 100%;
  height: 50px;
  background-color: $color-primary;
  border: $border-main;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
  &:hover {
    background-color: $color-secondary;
  }
}
