// General
$color-primary: #121212;
$color-secondary: #212121;
$color-tertiary: #333333;

// Accent
$color-accent-red: #ff7070;
$color-accent-green: #0b0a0a;

// Fonts
$color-font-primary: #ffffff;
$color-font-secondary: #0b0a0a;

// Buttons
$color-btn-primary: #292929;
$color-btn-primary-hover: #525252;
$color-btn-primary-active: #0f0f0f;

$color-btn-secondary: #ffffff;
$color-btn-secondary-hover: #ffffff;
$color-btn-secondary-active: #e3e3e3;

$color-btn-link: rgba(255, 255, 255, 0.1);
$color-btn-link-hover: rgba(255, 106, 0, 0.8);
$color-btn-link-active: rgba(255, 106, 0, 1);

// Border
$border-main: 2px solid rgba(255, 255, 255, 0.35);
$border-card: 2px solid $color-primary;

// Input
$color-input-background: rgba(255, 255, 255, 0.2);
